.footer {
  height: 100%;
  width: 100%;
  background-color: #002a38;
  line-height: 1.3;
  font-family: Menlo, monospace;
  text-align: center;
  padding-top: 1em;
}
.footer p {
  color: white;
  padding-bottom: 1em;
}

.footer a {
  color: white;
}
